name: Publish on GH

on:
  push:
    tags:
      - "v*.*.*"

env:
  MINECRAFT_VERSION: 1.20.1
  JAVA_VERSION: 17

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check env variables
        run: env

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: 17

      - name: Make gradle wrapper exec
        if: ${{ runner.os != 'Windows'}}
        run: chmod +x ./gradlew

      - name: Build
        run: |
          tag=$(git describe --tags --abbrev=0)
          ./gradlew clean build
          mv build/libs/SUpdater-1.0-SNAPSHOT.jar "build/libs/SUpdater-$tag.jar"

      - name: Patch files
        uses: softprops/action-gh-release@v2
        with:
          files: "build/libs/SUpdater-$tag.jar"